.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.custom-items .custom-items-area {
    border: 1px solid #ccc;
    width: 100%;
    min-height: 400px;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.custom-items .custom-items-area .custom-item {
    display: inline-block;
    float: left;
    border: 1px solid #ccc;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.custom-items .custom-items-count {
    text-align: start;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
}

.text-start {
    text-align: start;
}
